PlayerPrefs/New Unity Project/Library/*
PlayerPrefs/New Unity Project/Logs/*
PlayerPrefs/New Unity Project/obj/*
objectPool/objpool/Library/*
objectpool/objpool/Logs/*
objectpool/objpool/obj/*
objectpool/objpool/temp/*
objectpool/objpool/.vs/*
FSM/Library/
FSM/obj/
FSM/.vs/
Steamworks/SteamWorksTest/Library/PackageCache/com.unity.timeline@1.2.14/Editor/Extensions/TrackExtensions.cs
Steamworks/SteamWorksTest/Library/
Steamworks/SteamWorksTest/Temp/UnityTempFile-70a947288fac5144aaf95bf1a8bbda6d
Steamworks/SteamWorksTest/Temp/
Steamworks/build/
Steamworks/SteamWorksTest/.vs/
